/**
 *
 * Common for all Pages
 *
 */

 body {
     position: relative;
 }

 .main-logo {
    padding-top: 10px;
}

 .navbar-nav {
    .active {
        color: #000 !important;
        background-color: #E1E1E1;
    }
 }

 .main-topic {
     margin: 3rem 0 2rem 0;
     h1 {
        font-size: $font-size-01;
        line-height: 43px;
        font-weight: 500;
        text-align: center;
        @include media-breakpoint-down(md) {
            font-size: $font-size-mb-01;
        }
     } 
 }

 .news-card {
     position: relative;
     background: linear-gradient(to bottom, #F1F2F3 75%, #fff 25%);
     margin-bottom: 2rem;
     @include media-breakpoint-down(md) {
        background: linear-gradient(to bottom, #F1F2F3 60%, #fff 40%);
        margin-bottom: 1rem;
    }
     a {
        cursor: pointer;
        h2 {
            color: #191919;
            font-size: $font-size-03;
            line-height: 27px;
            font-weight: 500;
            min-height: 120px;
            padding: 1.4rem 1.4rem 0 1.4rem;
            @include media-breakpoint-down(md) {
                font-size: $font-size-mb-02;
                min-height: auto;
            }
            span {
                padding-left: 1rem;
                position: relative;
                &::before {
                    position: absolute;
                    content: '';
                    width: 5px;
                    width: 7px;
                    height: 100%;
                    background-color: #f1f2f3;
                }
            }
        }
        .news-image {
            padding: 0 1.4rem;
            img {
                box-shadow: 3px 3px 6px #00000029;
            }
        }

        .link-card {
            background-color: #F1F2F4;
            min-height: 170px;
            margin: 0 1.4rem;
            box-shadow: 0px 3px 6px #00000029;
            svg {
                width: 120px;
            }
        }
    }
 }

 .quick-links {
     .quick-link-item {
         a {
             cursor: pointer;
             span {
                 display: inline-block;
                 width: 50px;
                 height: 50px;
                 background-color: #F1F2F3;
                 box-shadow: 0px 2px 4px #00000029;
                 text-align: center;
                 padding: 8px 0 0 0;
                 svg {
                     width: 20px;
                 }
             }
             p {
                 font-size: $font-size-04;
                 display: inline;
                 font-weight: 600;
                 margin-left: 1.5rem;
                 @include media-breakpoint-down(md) {
                    font-size: $font-size-mb-02;
                }
             }
         }
     }
 }

 .inner-page-main-topic {
     background-color: #E1E1E1;
     .topic-wrap {
         padding: 1.4rem 0;
         h1 {
             margin: 0;
             font-size: $font-size-02;
             text-transform: uppercase;
             font-weight: 500;
             @include media-breakpoint-down(md) {
                font-size: $font-size-mb-02;
            }
         }
     }
 }

 .inner-page-secondary-topic {
    .topic-wrap {
        padding: 0.5rem 0 3rem 0;
        h1 {
            margin: 0;
            font-weight: 500;
            font-size: $font-size-01;
            text-align: center;
            @include media-breakpoint-down(md) {
               font-size: $font-size-mb-01;
           }
        }
    }
}

 

 .breadcrumb-section {
     .breadcrumb {
         margin-top: 5px;
         background-color: transparent;
         padding-left: 0;
         .breadcrumb-item {
            font-size: $font-size-07;
            color: #000000;
            text-transform: uppercase;
             a {
                 color: #00667B;
                 font-size: $font-size-07;
             }
             &:before {
                color: #000;
            }
         }
        
     }
 }

 .notice {
     .notice-wrap {
        box-shadow: 0px 3px 6px #00000029;
        padding: 1rem;
         h2 {
             text-align: center;
             font-size: $font-size-01;
             margin-bottom: 2rem;
         }
         p {
            font-size: $font-size-07;
            line-height: 18px;
            font-weight: 500;
         }
     }
 }

 .info {
     .info-wrap {
        box-shadow: 0px 3px 6px #00000029;    
        padding: 15px;
        ul {
            li {
                margin-bottom: 20px;
                p {
                    font-size: $font-size-03;       
                    line-height: 27px; 
                    @include media-breakpoint-down(md) {
                        font-size: 18px;
                        line-height: 18px;
                        font-weight: 500;
                    }
                    a {
                        color: #000;
                    }    
                }     
                span {
                    color: #727272;
                    font-size: $font-size-07;    
                    text-transform: uppercase;
                    margin-bottom: 16px;
                    display: inline-block;
                }
            }
        }
        
     }
 }

 .panel-body {
     .panel {
        box-shadow: 0px 3px 6px #00000029;
        margin-bottom: 0.8rem;
        border-radius: 7px;
         .panel-header {
            .panel-topic {
                position: relative;
                .btn-link {
                    color: #000;       
                    text-decoration: none;  
                    font-size: $font-size-02;  
                    font-family: $font-02;  
                    @include media-breakpoint-down(md) {
                        font-size: 18px;
                    }
                }
                .btn-link {                          
                    &::after {
                        padding-right: 1rem;
                        content: '\00d7';
                        float: left;
                        color: rgb(134, 134, 134);
                    }     
                }
                .btn-link.collapsed {
                    &::after {
                        content: '+';
                        float: left;
                    }
                }                
            }
         }
         .panel-description {
             font-size: $font-size-06;
             padding: 1rem 1rem 1rem 2.5rem;
             p {
                font-weight: 500;
                @include media-breakpoint-down(md) {
                    font-size: 14px;
                    line-height: 17px;
                }
             }
         }
     }
 }

 .description {
    font-size: $font-size-06;
    p {
        font-weight: 500;
        line-height: 19px;
    }
 }

 .search-section {
     h3 {
        font-size: $font-size-02;
     }
     input,
     select {
         background-color: #F5F5F5;
         box-shadow: 0px 3px 6px #00000029;
         border-radius: 5px;
         border: none;
         font-size: $font-size-08;
         height: 43px;
         font-weight: 400;
         padding-right: 10px;
         &:focus {
            background-color: #F5F5F5;
         }
     }
     .search-section-btn {
         font-size: 13px;
         width: 100px;
         background-color: #F5F5F5;
         box-shadow: 0px 3px 6px #00000029;
     }
 }

 .partners-section {
     background-color: #F1F2F3;
     margin-bottom: 20px;
     .partner {
         .partner-image {
             img {
                border-radius: 100%;
             }             
         }
         .partner-info {
             position: relative;
             h4 {
                 font-size: $font-size-04;
                 font-weight: 400;
                 @include media-breakpoint-down(md) {
                    font-size: 15px;
                    line-height: 18px;
                    font-weight: 500;
                }
             }
             p {
                font-size: $font-size-06;
                font-weight: 400;
                @include media-breakpoint-down(md) {
                    font-size: 12px;
                    line-height: 14px;
                    font-weight: 500;
                }
             }
             .msg-btn {                
                position: absolute;
                right: 0px;
                top: -7px;                
                span {
                    background-color: #6B6B6B;
                    padding: 5px 6px;
                    border-radius: 100%;       
                    font-size: 16px;   
                    color: #fff;          
                }
             }
         }
     }
 }

 .ne-card {
     margin-bottom: 2rem;
     .ne-info {
         margin-top: 10px;
         span {
             color: #727272;
             font-size: $font-size-07;
             text-transform: uppercase;
         }
     }
     .ne-title {
            margin-top: 10px;
         a {
             cursor: pointer;
            p {
                font-size: $font-size-04;
                font-weight: 500;
                @include media-breakpoint-down(md) {
                    font-size: 15px;
                    line-height: 18px;
                    font-weight: 500;
                }
            }
         }
     }
 }

 .see-more-btn {
     button {
         background-color: #E9E9E9;
         font-size: $font-size-04;
     }
 }

.footer-section {
    background-color: #f1f2f3;
    position: relative;
    margin-top: 2rem;
    .footer-social-ico {
        padding-top: 2rem;
        padding-bottom: 1.2rem;
        margin-bottom: 2rem;
        border-bottom: 4px solid #e0e2e4;
        .social-ico {
            display: inline-block;
            a {
                cursor: pointer;
                display: inline-block;
                width: 70px;
                height: 70px;
                background-color: #e0e2e4;  
                @include media-breakpoint-down(md) {
                    width: 40px;
                    height: 40px;
                }              
                span {
                    width: 70px;
                    height: 70px;
                    background-color: #e0e2e4;
                    font-size: 30px;
                    color: #000;
                    @include media-breakpoint-down(md) {
                        width: 40px;
                        height: 40px;
                        font-size: 20px;
                    }
                }                
            }
            &:hover span {
                    background-color: #e9e9e9;
                }
        }
    }
    .footer-links {
        padding-bottom: 2rem;
        .footer-header {
            font-size: $font-size-04;
            font-weight: 500;            
        }
        ul {
            margin-top: 15px;
            li {
                margin-bottom: 10px;
                a {
                    font-size: $font-size-07;
                    cursor: pointer;
                    display: inline-block;
                    width: 100%;
                    font-weight: 500;
                    text-transform: uppercase;
                    span {
                        float: right;
                    }
                }
                
            }
        }
        .address {
            font-size: $font-size-07;
            font-weight: 500;
        }
    }
}

.bottom-space {
    margin-bottom: 6rem;
    @include media-breakpoint-down(md) {
        margin-bottom: 2rem;
    }
}

 #back-to-top {
    position: absolute;
    display: inline-block;
    right: 15px;
    font-size: 15px;
    top: -40px;
    color: #000;
    padding: 6px 10px;
    line-height: 30px;
    font-weight: bold;
 }


 
/*===============================================*/
// Large devices (desktops, less than 1200px)
/*===============================================*/
@include media-breakpoint-down(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, less than 992px)
/*===============================================*/
@include media-breakpoint-down(md) {

} /*//////////////////////////////////////*/




/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {

    .main-logo {
        width: 260px;
        padding-top: 0;
    }

    .main-topic {
        margin: 1.5rem 0 1rem 0; 
        h1 {
            margin-bottom: 5px;
        }
    }


    .search-form {
        display: none;
        position: absolute;
        right: 25px;
        width: 200px;
        top: 6px;
    }
    .mobile-search-icon {
        padding-top: 2px;
    }

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-down(xs) {

    

} /*//////////////////////////////////////*/






/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-up(sm) {
    

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, 768px and up)
/*===============================================*/
@include media-breakpoint-up(md) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Large devices (desktops, 992px and up)
/*===============================================*/
@include media-breakpoint-up(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1200px and up)
/*===============================================*/
@include media-breakpoint-up(xl) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1400px and up)
/*===============================================*/
@media (min-width: 1400px) {

} /*//////////////////////////////////////*/
