/**
 *
 * Home Page
 *
 */

 .top-bar-search-slot {
     margin-top: 10px;
     p {
         margin-top: 5px;
         font-size: $font-size-08;
     }
     .dropdown-btn {
        font-size: $font-size-08;
     }
     .dropdown-item {
        font-size: $font-size-08;
     }
     .search-form {
         input {
             height: 38px;
             color: #000;
             font-size: $font-size-08;
             background-color: #F2F2F2;
             border: none;             
         }
         .input-group-btn {
            background-color: #F2F2F2;
            margin-right: 10px;
            border-radius: 0 5px 5px 0;
            .btn {
                padding: 0 7px 0 0;                
            }
         }         
     }
     .header-fb {
        a {
            color: #3b5998;
            font-size: 38px;
        }
    }
 }

 #header {
        .navbar {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        font-size: $font-size-07;
                        color: #000 ;
                        text-transform: uppercase;
                        @include media-breakpoint-down(md) {
                            text-align: right;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
 }

.home-slider {
    .home-main-slider {
        position: relative;
        box-shadow: 0px 2px 5px #cacaca;
        .slider-img {
            height: 502px;
        }
        .slide-txt {
            padding: 0 2rem 0.5rem 2rem;
            background-image: linear-gradient(bottom, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%);
            width: 100%;
            @include media-breakpoint-down(md) {
                padding: 0 0.5rem 0.2rem 0.5rem;
            }
            * {
                color: #fff;
            }
            position: absolute;
            bottom: 0;
            p {
                font-size: $font-size-01;
                font-family: $font-02;
                margin-bottom: 1rem;
                @include media-breakpoint-down(md) {
                    font-size: $font-size-04;
                    margin-bottom: 0.5rem;
                }
            }
            span {
                font-family: $font-02;
                font-size: $font-size-05;
                margin-bottom: 0.8rem;
                display: inline-block;
                @include media-breakpoint-down(md) {
                    font-size: 12px;
                    margin-bottom: 0.5rem;
                }
            }
            
        }        
        .owl-nav {
            .owl-prev {
                position: absolute;
                left: 15px;
                color: #fff;
                font-size: 40px;
                font-weight: bold;
                top: 44%;
                background-color: #E89402;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                &:focus {
                    outline: none;
                }
            }
            .owl-next {
                position: absolute;
                right: 15px;
                color: #fff;
                font-size: 40px;
                font-weight: bold;
                top: 44%;
                background-color: #E89402;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                &:focus {
                    outline: none;
                }
            }
            
        }
    }
}

.home-main-article {
    position: relative;
    .main-article-bg {
        position: absolute;
        background-color: #F1F2F3;
        height: 100%;
        width: 75%;
    }
    span {
        font-size: $font-size-05;
        font-style: italic;
    }
    h1 {
        font-size: $font-size-01;
        line-height: 43px;
        margin: 20px 0;
    }
    p {
        font-size: $font-size-02;
        line-height: 29px;
        font-weight: 500;
        margin-top: 10px;
        padding-bottom: 3rem;

    }
}


 
/*===============================================*/
// Large devices (desktops, less than 1200px)
/*===============================================*/
@include media-breakpoint-down(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, less than 992px)
/*===============================================*/
@include media-breakpoint-down(md) {



} /*//////////////////////////////////////*/




/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {

    .home-slider {        
        .home-main-slider {
            position: relative;
            .slider-img {
                height: 231px;
                background-size: cover;
                background-position: center;
            }
            .owl-nav {
                .owl-prev {
                    
                }
                .owl-next {
                    
                }
                
            }
        }
    }

    .home-main-article {
        position: relative;
        .main-article-bg {
            width: 95%;
        }
        span {
            font-size: 11px;
        }
        h1 {
            font-size: 18px;
            line-height: 22px;
            margin: 15px 0;
        }
        p {
            font-size: 13px;
            line-height: 15px;
            padding-bottom: 1rem;
    
        }
    }

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-down(xs) {

    

} /*//////////////////////////////////////*/






/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-up(sm) {


} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, 768px and up)
/*===============================================*/
@include media-breakpoint-up(md) {


} /*//////////////////////////////////////*/


/*===============================================*/
// Large devices (desktops, 992px and up)
/*===============================================*/
@include media-breakpoint-up(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1200px and up)
/*===============================================*/
@include media-breakpoint-up(xl) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1400px and up)
/*===============================================*/
@media (min-width: 1400px) {

} /*//////////////////////////////////////*/

@media (max-width: 380px) {


} /*//////////////////////////////////////*/




