@-webkit-keyframes fadeInRight {
  	0% {
        opacity: 0;
    	-webkit-transform: translate3d(100px, 0, 0);
  	} 
  	100% {
    	opacity: 1;
    	-webkit-transform: none;
  	} 
}
@-moz-keyframes fadeInRight {
  	0% {
    	opacity: 0;
    	-moz-transform: translate3d(100px, 0, 0);
  	}
  	100% {
    	opacity: 1;
    	-moz-transform: none;
  	} 
}
@-o-keyframes fadeInRight {
  	0% {
    	opacity: 0;
    	-o-transform: translate3d(100px, 0, 0);
  	}
  	100% {
    	opacity: 1;
    	-o-transform: none;
  	} 
}
@keyframes fadeInRight {
  	0% {
    	opacity: 0;
    	transform: translate3d(100px, 0, 0);
  	}
  	100% {
    	opacity: 1;
    	transform: none;
  	} 
}


@-webkit-keyframes fadeInRightBack {
  	0% {
  		visibility: visible;
    	opacity: 1;
    	-webkit-transform: none;
  	}
  	100% {
  		visibility: hidden;
    	opacity: 0;
    	-webkit-transform: translate3d(100px, 0, 0);
  	} 
}
@-moz-keyframes fadeInRightBack {
  	0% {
  		visibility: visible;
    	opacity: 1;
    	-webkit-transform: none;
  	}
  	100% {
  		visibility: hidden;
    	opacity: 0;
    	-webkit-transform: translate3d(100px, 0, 0);
  	} 
}
@-o-keyframes fadeInRightBack {
  	0% {
  		visibility: visible;
    	opacity: 1;
    	-webkit-transform: none;
  	}
  	100% {
  		visibility: hidden;
    	opacity: 0;
    	-webkit-transform: translate3d(100px, 0, 0);
  	} 
}
@keyframes fadeInRightBack {
  	0% {
  		visibility: visible;
    	opacity: 1;
    	-webkit-transform: none;
  	}
  	100% {
  		visibility: hidden;
    	opacity: 0;
    	-webkit-transform: translate3d(100px, 0, 0);
  	} 
}




@-webkit-keyframes fadeInRight {
  	0% {
    	opacity: 0;
    	-webkit-transform: translate3d(100px, 0, 0);
  	}
  	100% {
    	opacity: 1;
    	-webkit-transform: none;
  	} 
}
@-moz-keyframes fadeInRight {
  	0% {
    	opacity: 0;
    	-moz-transform: translate3d(100px, 0, 0);
  	}
  	100% {
    	opacity: 1;
    	-moz-transform: none;
  	} 
}
@-o-keyframes fadeInRight {
  	0% {
    	opacity: 0;
    	-o-transform: translate3d(100px, 0, 0);
  	}
  	100% {
    	opacity: 1;
    	-o-transform: none;
  	} 
}
@keyframes fadeInRight {
  	0% {
    	opacity: 0;
    	transform: translate3d(100px, 0, 0);
  	}
  	100% {
    	opacity: 1;
    	transform: none;
  	} 
}



@-webkit-keyframes fadeInUp {
  	0% {
    	opacity: 0;
    	-webkit-transform: translate3d(0, 20px, 0);
  	}
  	100% {
    	opacity: 1;
    	-webkit-transform: none;
  	} 
}
@-moz-keyframes fadeInUp {
  	0% {
    	opacity: 0;
    	-moz-transform: translate3d(0, 20px, 0);
  	}
  	100% {
    	opacity: 1;
    	-moz-transform: none;
  	} 
}
@-o-keyframes fadeInUp {
  	0% {
    	opacity: 0;
    	-o-transform: translate3d(0, 20px, 0);
  	}
  	100% {
    	opacity: 1;
    	-o-transform: none;
  	} 
}
@keyframes fadeInUp {
  	0% {
    	opacity: 0;
    	transform: translate3d(0, 20px, 0);
  	}
  	100% {
    	opacity: 1;
    	transform: none;
  	} 
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-6 2:11:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-bottom {
	0% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
			  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(15px);
			  transform: translateY(15px);
			  opacity: 1;
	}
  }
  @keyframes slide-bottom {
	0% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
			  opacity: 0;
	}
	50% {
				opacity: 1;
	  }
	100% {
	  -webkit-transform: translateY(10px);
			  transform: translateY(10px);
			  opacity: 0;
	}
  }
  




@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    } 
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    } 
}
@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    } 
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    } 
}

  
@keyframes growIn {
    0% {
        transform: scale(0.9); 
        opacity: 0;
    }
    100% {
        transform: scale(1); 
        opacity: 1;
    }
}

.animated--grow-in {
    animation-name: growIn;
    animation-duration: 200ms;
    animation-timing-function: transform cubic-bezier(.18,1.25,.4,1), opacity cubic-bezier(0,1,.4,1);
}