/**
 *
 * Roboto
 *
 */
 

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}OpenSans-BoldItalic.eot');
    src: url('#{$font-path}OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}OpenSans-BoldItalic.woff2') format('woff2'),
        url('#{$font-path}OpenSans-BoldItalic.woff') format('woff'),
        url('#{$font-path}OpenSans-BoldItalic.ttf') format('truetype'),
        url('#{$font-path}OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}Roboto-Thin.eot');
    src: url('#{$font-path}Roboto-Thin.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}Roboto-Thin.woff') format('woff'),
         url('#{$font-path}Roboto-Thin.woff2') format('woff2'), 
         url('#{$font-path}Roboto-Thin.ttf') format('truetype'),
         url('#{$font-path}Roboto-Thin.svg#Roboto-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}Roboto-Black.eot');
    src: url('#{$font-path}Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Roboto-Black.woff') format('woff'),
        url('#{$font-path}Roboto-Black.woff2') format('woff2'), 
        url('#{$font-path}Roboto-Black.ttf') format('truetype'),
        url('#{$font-path}Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}Roboto-BlackItalic.eot');
    src: url('#{$font-path}Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Roboto-BlackItalic.woff') format('woff'),
        url('#{$font-path}Roboto-BlackItalic.woff2') format('woff2'), 
        url('#{$font-path}Roboto-BlackItalic.ttf') format('truetype'),
        url('#{$font-path}Roboto-BlackItalic.svg#Roboto-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}Roboto-Regular.eot');
    src: url('#{$font-path}Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Roboto-Regular.woff') format('woff'),
        url('#{$font-path}Roboto-Regular.woff2') format('woff2'), 
        url('#{$font-path}Roboto-Regular.ttf') format('truetype'),
        url('#{$font-path}Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}Roboto-MediumItalic.eot');
    src: url('#{$font-path}Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Roboto-MediumItalic.woff') format('woff'),
        url('#{$font-path}Roboto-MediumItalic.woff2') format('woff2'), 
        url('#{$font-path}Roboto-MediumItalic.ttf') format('truetype'),
        url('#{$font-path}Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}Roboto-BoldItalic.eot');
    src: url('#{$font-path}Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Roboto-BoldItalic.woff') format('woff'),
        url('#{$font-path}Roboto-BoldItalic.woff2') format('woff2'), 
        url('#{$font-path}Roboto-BoldItalic.ttf') format('truetype'),
        url('#{$font-path}Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}Roboto-Italic.eot');
    src: url('#{$font-path}Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Roboto-Italic.woff') format('woff'),
        url('#{$font-path}Roboto-Italic.woff2') format('woff2'), 
        url('#{$font-path}Roboto-Italic.ttf') format('truetype'),
        url('#{$font-path}Roboto-Italic.svg#Roboto-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}Roboto-LightItalic.eot');
    src: url('#{$font-path}Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Roboto-LightItalic.woff') format('woff'),
        url('#{$font-path}Roboto-LightItalic.woff2') format('woff2'), 
        url('#{$font-path}Roboto-LightItalic.ttf') format('truetype'),
        url('#{$font-path}Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}Roboto-Bold.eot');
    src: url('#{$font-path}Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Roboto-Bold.woff') format('woff'),
        url('#{$font-path}Roboto-Bold.woff2') format('woff2'), 
        url('#{$font-path}Roboto-Bold.ttf') format('truetype'),
        url('#{$font-path}Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}Roboto-Medium.eot');
    src: url('#{$font-path}Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Roboto-Medium.woff') format('woff'),
        url('#{$font-path}Roboto-Medium.woff2') format('woff2'), 
        url('#{$font-path}Roboto-Medium.ttf') format('truetype'),
        url('#{$font-path}Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}Roboto-Light.eot');
    src: url('#{$font-path}Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Roboto-Light.woff') format('woff'),
        url('#{$font-path}Roboto-Light.woff2') format('woff2'), 
        url('#{$font-path}Roboto-Light.ttf') format('truetype'),
        url('#{$font-path}Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}Roboto-ThinItalic.eot');
    src: url('#{$font-path}Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Roboto-ThinItalic.woff') format('woff'),
        url('#{$font-path}Roboto-ThinItalic.woff2') format('woff2'), 
        url('#{$font-path}Roboto-ThinItalic.ttf') format('truetype'),
        url('#{$font-path}Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/**
 *
 * Roboto Condensed
 *
 */

@font-face {
    font-family: 'Roboto Condensed';
    src: url('#{$font-path}RobotoCondensed-Regula.eot');
    src: url('#{$font-path}RobotoCondensed-Regula.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}RobotoCondensed-Regula.woff') format('woff'),
        url('#{$font-path}RobotoCondensed-Regula.woff2') format('woff2'), 
        url('#{$font-path}RobotoCondensed-Regula.ttf') format('truetype'),
        url('#{$font-path}RobotoCondensed-Regula.svg#RobotoCondensed-Regular') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}























































